/01b - Actividad - Conociendo el entorno.pdf
/02 - Python - Operadores - Print - Input .ipynb
/03 - Ejemplos de algoritmos.pdf
/03b - buscar.xlsx
/03c - Actividad integradora.pdf
/04 - Actividades.pdf
/04 - Métricas en Marketing Digital.pdf
/04b - Actividad tablas dinámicas.pdf
/04c - Actividad fórmulas básicas.pdf
/1- plantilla 1.xlsx
/10 - Material imprimible - Algoritmos.pdf
/2- Desafío - tabla y formatos.xlsx
/2011-Zero Moment of Truth.pdf
/4. Consigna.ipynb
/5. Consigna #5.ipynb
/6b - Códigos de formato strptime y strftime.pdf
/a Enlaces externos.pdf
/Actividad BI Empresas.xlsx
/Actividad BI ETL - Limpieza.xlsx
/BI Unidad 1 - Imprimible.pdf
/BI Unidad 2 - Imprimible.pdf
/BI Unidad 3 - Imprimible.pdf
/Cac_Ejemplo_Query.JPG
/clases.py
/Cláusulas Join SQL con ejemplos.pdf
/Cláusulas JOIN SQL.pdf
/colores_tkinter.png
/Consigna3_1.JPG
/Consigna3_1b.JPG
/Consigna3_1c.JPG
/Consigna3_1d.JPG
/Consigna4_Creada_columna_Genero.JPG
/Consigna4_Exito.JPG
/Consigna4_Importar_csv.JPG
/Consigna4_Ordenar_rango.JPG
/Consigna4_Quitar_Duplicados.JPG
/Consigna4_Separadas_Duration_Tiempo.JPG
/Consignas de trabajo # 2.ipynb
/Consignas de trabajo #3.ipynb
/Consigna_4A.JPG
/Consigna_4B.JPG
/Consigna_4C.JPG
/Consigna_4D.JPG
/Consigna_4E.JPG
/Consigna_4F.JPG
/Consigna_4G.JPG
/Consigna_4H.JPG
/Consigna_4_3B_Tabla_Dinamica.JPG
/Consigna_4_3D_Tabla_Dinamica2.JPG
/Consigna_4_3E_Tabla1.JPG
/Consigna_4_3F_Tabla_Dinamica3.JPG
/Consigna_4_5_IV_V_Tabla_Dinamica_A.JPG
/Consigna_4_5_VI_Tabla_A.JPG
/Consigna_4_Looker_CambiadosTiposDatos.JPG
/Consigna_4_Looker_ConectarDatos.JPG
/Consigna_5A.JPG
/Consigna_5B.JPG
/Consigna_5C.JPG
/Consigna_5D.JPG
/Consigna_5E.JPG
/Consigna_5F.JPG
/Consigna_5G.JPG
/Consigna_5H.JPG
/Consigna_5I.JPG
/Consigna_5J.JPG
/Consigna_5K.JPG
/CREATE_OSCAR.sql
/Códigos.zip
/Desafio_I.JPG
/Desafio_II.JPG
/Desafio_III.JPG
/Desafio_IV.JPG
/ejemplo_sqlite3.py
/ejemplo_sqlite3_netflix.py
/Guía práctica SQL - Cimino.zip
/Imprimible UNIDAD 2.pdf
/Imprimible UNIDAD 3.pdf
/Imprimible UNIDAD I.pdf
/Looker Studio U1 - Material imprimible.pdf
/Looker Studio U2 - Material imprimible.pdf
/Material imprimible - Unidades 1 a 3.pdf
/Material imprimible - Unidades 4 y 5.pdf
/Material imprimible Bases de Datos 1 y 2.pdf
/Material imprimible Bases de Datos 3 y 4.pdf
/Material imprimible BBDD en Python.pdf
/Material imprimible Introducción a POO.pdf
/mi_db.db
/netflix.db
/netflix.sqbpro
/netflix_oscar.db
/netflix_oscar.df
/optionmenu.py
/oscar.csv
/pdf.py
/Plan de estudios- estudiantes- Big Data-Data Analytics 2023.pdf
/PLANILLAS DE CÁLCULO - 1 - Operación Básica.pdf
/PLANILLAS DE CÁLCULO - 2 - Fórmulas Básicas.pdf
/Planillas de cálculo U1 y 2 - Material imprimible.pdf
/servicios_2021 - mock_data_dates.csv
/set_total.csv
/Unidad 1.pdf
/Unidad 2.pdf
/Unidad 4-1.pdf
/unidad5a.py
estadistica.csv
Unidad 2 Py.pdf
Unidad 3.pdf
.venv/.gitignore
